<%- include('partials/header') %>

<section id="home">

    <nav class="navbar">

        <div class="container-fluid">

            <img class="nav-logo" src="img/Logo-Branca.png" alt="Logo">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Olá, <%= username %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/orders">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/logs">Logs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/shutdown">Encerrar Conta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="color-blue table-header">Pedidos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pedido</th>
                <th>Fornecedor</th>
                <th>Quantidade</th>
                <th>Status</th>
            </tr>
        </thead>
        
        <tbody>

            <% orders.forEach((order) => { %>
                
                <tr>
                    <td><%= order.id.substring(18, 24) %></td>
                    <td><%= order.item.name %></td>
                    <td><%= order.supplier %></td>
                    <td><%= order.quantity %></td>
                    <td>Entregue</td>
                </tr>

            <% }) %>

        </tbody>
    </table>

</section>

<%- include('partials/footer') %>